{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}
	
{% block body %}
	<div class="container">
        <div class="row">
            &nbsp
		</div>
		<div class="row">
            Geben Sie Ihr Passwort ein, um Bestellungen anzuzeigen
		</div>
        <div class="row">
            &nbsp
		</div>
        <div class="row">
            <form action="{{ path('adminEnter') }}" method="post">
                <div class="col col-sm-3">
                    <input type="password" name="password">
                </div>
                <div class="col col-sm-3">
                    &nbsp
                </div>
                <div class="col col-sm-3">
                    <input type="submit" class="btn btn-success" value="Eingang">
                </div>
            </form>
		</div>
	</div>
{% endblock %}