{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}

{% block javascripts %}
	
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col col-sm-2">
			<h4>Name</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Preis</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Warenmenge</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Zusätzliche Zutaten</h4>
		</div>
		<div class="col col-sm-2">

		</div>
		<div class="col col-sm-2">
			
		</div>
	</div>
	<form action="{{ path('submitOrder') }}" method="post">
	<div id = "orderList">

	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row" id = "customerInformation">
		<div class="col col-sm-5">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Name</span>
				</div>
				<input type="text" class="form-control" name="name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Nachname</span>
				</div>
				<input type="text" class="form-control" name="surname" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Straße</span>
				</div>
				<input type="text" class="form-control" name="street" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Hausnummer</span>
				</div>
				<input type="text" class="form-control" name="house" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Postleitzahl</span>
				</div>
				<input type="text" class="form-control" name="zip" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">die Stadt</span>
				</div>
				<input type="text" class="form-control" name="city" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Telefon</span>
				</div>
				<input type="text" class="form-control" name="phone" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
		</div>
	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<div class="col-md-3"><h5>Gesamtwert</h5></div>
		<div class="col-md-3"><h5><div id="totalcost"></div></h5></div>
		<div class="col-md-3 text-right"><input type="submit" class="btn btn-success" value="Eine Bestellung aufgeben"></div>
  	</div>
	</form>
	<script>
	total = localStorage.getItem('totalPrice');
	if (total!=null)
	{
		document.getElementById("totalcost").innerHTML=localStorage.getItem('totalPrice')+` $`;
	}
	else
	{
		document.getElementById("totalcost").innerHTML=`0 $`;
	}
	cartData = getBasketInfo();
	const pizzas = JSON.parse('{{ pizzas | json_encode | raw }}');
			for(var items in cartData)
			{
				for (var pizza in pizzas)
				{
					if (cartData[items][0]==pizzas[pizza]["id"])
					{
						document.getElementById("orderList").innerHTML+=
						`
						<div class="row">
							<input type="hidden" name=order[${items}][pizzaID] value="${pizzas[pizza]["id"]}">
							<input type="hidden" name=order[${items}][extrasID] value="${cartData[items][3]}">
							<input type="hidden" name=order[${items}][quantity] value="${cartData[items][2]}">
							<div class="col col-sm-2">
								${pizzas[pizza]["name"]}
							</div>
							<div class="col col-sm-2">
								${cartData[items][1]}$
							</div>
							<div class="col col-sm-2">
								<button class="minus" onclick="minus(${items},${cartData[items][1]},${cartData[items][2]});">-</button>
									<input type="text" id="quantity${items}" value=${cartData[items][2]} size="1" readonly/>
								<button class="plus" onclick="plus(${items},${cartData[items][1]},${cartData[items][2]});">+</button>
							</div>
							<div class="col col-sm-2" id="extras${items}">
								
							</div>
							<div class="col col-sm-2">
								<button class="btn btn-danger" onclick="deleteFromBasket(${items},${cartData[items][1]},${cartData[items][2]});">Löschen</button>
							</div>
						</div>
						<div class="row">
							&nbsp
						</div>
						`;
						string = cartData[items][3];
						arrExtra = string.split("extra");
						for (var extra in pizzas[pizza]["extras"])
						{
							ch="";
							for (var el in arrExtra)
							{
								if (pizzas[pizza]["extras"][extra]["id"]==parseInt(arrExtra[el]))
								{
									ch="checked";
								}
							}
							document.getElementById("extras"+items).innerHTML+=
						`
						<div class="col col-sm-2">
							<div class="row">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="${pizza}extra${extra}" ${ch} disabled>
									<label class="form-check-label" for="${pizza}extra${extra}">${pizzas[pizza]["extras"][extra]["name"]}</label>
								</div>
							</div>
						</div>
						`;
						}
					}
				}				
			}
		</script>
</div>
{% endblock %}
