<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" rel="stylesheet">
        <link href="{{asset('css/main.css')}} rel="stylesheet"">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script>
            {% block javascripts %}
	            
	        {% endblock %}
            let itemId;
            let totalPrice;
            let totalQuantity;
            $(document).ready(function (){
                itemId = localStorage.getItem('itemId');
                if (itemId == null)
                {
                    itemId = 0;
                }
                if((localStorage.getItem('totalQuantity'))==null || (localStorage.getItem('totalPrice')==null))
                {
                    totalPrice = 0;
                    totalQuantity = 0;
                    localStorage.setItem('totalPrice', totalPrice);
                    localStorage.setItem('totalQuantity', totalQuantity);
                }
                else
                {
                    totalPrice = parseFloat(localStorage.getItem('totalPrice'));
                    totalQuantity = parseInt(localStorage.getItem('totalQuantity'));
                }
                refreshBasket();
            });
            function plus(id,price,oldQuantity){
                quantity = parseInt(document.getElementById("quantity"+id).value);
                quantity = quantity + 1;
                document.getElementById("quantity"+id).value = quantity;
                cartData = getCartData();
                newCartData = {};
                for(var items in cartData)
                {
                    if(items==id)
                    {
                        newCartData[items] = [cartData[items][0], cartData[items][1], quantity, cartData[items][3]];
                    }
                    else
                    {
                        newCartData[items] = [cartData[items][0], cartData[items][1], cartData[items][2], cartData[items][3]];
                    }
                }
                totalPrice = parseFloat(localStorage.getItem('totalPrice'))+price;
                totalQuantity = parseInt(localStorage.getItem('totalQuantity'))+1;
                localStorage.setItem('totalPrice', totalPrice);
                localStorage.setItem('totalQuantity', totalQuantity);
                setCartData(newCartData);
                refreshBasket();
            }
            function minus(id,price,oldQuantity){
                quantity = parseInt(document.getElementById("quantity"+id).value);
                if (quantity!=1)
                {
                    quantity = quantity - 1;
                    document.getElementById("quantity"+id).value = quantity;
                    cartData = getCartData();
                    newCartData = {};
                    for(var items in cartData)
                    {
                        if(items==id)
                        {
                            newCartData[items] = [cartData[items][0], cartData[items][1], quantity, cartData[items][3]];
                        }
                        else
                        {
                            newCartData[items] = [cartData[items][0], cartData[items][1], cartData[items][2], cartData[items][3]];
                        }
                    }
                    totalPrice = parseFloat(localStorage.getItem('totalPrice'))-price;
                    totalQuantity = parseInt(localStorage.getItem('totalQuantity'))-1;
                    localStorage.setItem('totalPrice', totalPrice);
                    localStorage.setItem('totalQuantity', totalQuantity);
                    setCartData(newCartData);
                    refreshBasket();
                }
            }
            function getCartData(){
                return JSON.parse(localStorage.getItem('cart'));
            }
            function setCartData(o){
                localStorage.setItem('cart', JSON.stringify(o));
                return false;
            }
            function addBasket(id, name)
            {
                extra = document.getElementById("pizzaExtras"+id).value;
                price = parseFloat(document.getElementById("valuePrice"+id).value);
                cartData = getCartData() || {};
                s=0;
                for(var items in cartData)
                {
                    if((cartData[items][0]==id) && (cartData[items][3]==extra))
                    {
                        cartData[items][2]+=1;
                        s=1;
                    }
                }
                if (s==0)
                {
                    cartData[itemId] = [id, price, 1, extra];
                    itemId++;
                    localStorage.setItem('itemId', itemId);
                }
                console.log(cartData);
                setCartData(cartData);
                totalPrice = parseFloat(totalPrice) + price;
                totalQuantity = parseInt(totalQuantity) + 1;
                localStorage.setItem('totalPrice', totalPrice);
                localStorage.setItem('totalQuantity', totalQuantity);
                refreshBasket();
            }
            function deleteFromBasket(id,price,quantity)
            {
                CartData = getBasketInfo();
                newCartData = {};
                let i=0
                for(var items in cartData)
                {
                    if(items!=id)
                    {
                        newCartData[i] = CartData[items];
                        i++;
                    }
                }
                totalPrice = parseFloat(localStorage.getItem('totalPrice'))-price*quantity;
                totalQuantity = parseInt(localStorage.getItem('totalQuantity'))-quantity;
                if (totalPrice<0){totalPrice = 0;}
                localStorage.setItem('totalPrice', totalPrice);
                localStorage.setItem('totalQuantity', totalQuantity);
                setCartData(newCartData);
                location.reload();
            }
            function changeFromBasket(id,price,oldQuantity,quantity)
            {
                cartData = getCartData();
                newCartData = {};
                for(var items in cartData)
                {
                    if(items==id)
                    {
                        newCartData[items] = [cartData[items][0], price, quantity, cartData[items][3]];
                    }
                    else
                    {
                        newCartData[items] = [cartData[items][0], cartData[items][1], cartData[items][2], cartData[items][3]];
                    }
                }
                totalPrice = parseFloat(localStorage.getItem('totalPrice'))-price*oldQuantity+price*quantity;
                totalQuantity = parseInt(localStorage.getItem('totalQuantity'))-oldQuantity+quantity;
                setCartData(newCartData);
                localStorage.setItem('totalPrice', totalPrice);
                localStorage.setItem('totalQuantity', totalQuantity);
                refreshBasket();
            }
            function addExtra(value,id,extraPrice)
            {
                if(value.checked){
                    price = parseFloat(document.getElementById("valuePrice"+id).value)+parseFloat(extraPrice);
                    document.getElementById("pizzaExtras"+id).value += value.id;
                    document.getElementById("price"+id).innerHTML=`${price}$`;
                    document.getElementById("valuePrice"+id).value = price;
                }
                else{
                    price = parseFloat(document.getElementById("valuePrice"+id).value)-parseFloat(extraPrice);
                    document.getElementById("price"+id).innerHTML=`${price}$`;
                    document.getElementById("valuePrice"+id).value = price;
                    document.getElementById("pizzaExtras"+id).value = document.getElementById("pizzaExtras"+id).value.replace(value.id,"");
                }
            }
            
            function refreshBasket(){
                document.getElementById("Basket").innerHTML=`
                    <div>
                        Warenkorb:
                    </div>
                    <div>
                        <div id="total">Gesamtwert: ${localStorage.getItem('totalPrice')} $</div>
                        <div id="totalquantity">Warenmenge: ${localStorage.getItem('totalQuantity')}</div>
                    </div>
                `;
            }
            function arrangeOrder(){
                window.location.href = "{{ path('arrangeOrder') }}";
            }
            function getBasketInfo(){
                 cartData = getCartData();
                 return cartData;
            }
                        
        </script>
    </head>
    <body>
      <div class="top">
        {% block navigation %}
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('index') }}">Pizza Plaza</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ page == 'index' ? 'active' : '' }}" href="{{ path('index') }} ">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ page == 'about' ? 'active' : '' }}" href="{{ path('about') }} ">&Uuml;ber uns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ page == 'contact' ? 'active' : '' }}" href="{{ path('contact') }} ">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ page == 'imprint' ? 'active' : '' }}" href="{{ path('imprint') }} ">Impressum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ page == 'onlineOrder' ? 'active' : '' }}" href="{{ path('onlineOrder') }} ">Onlinebestellung</a>
                    </li>
                </ul>
            </div>
            <div id="Basket" onclick="arrangeOrder()">
                
            </div>
           
        </nav>
        {% endblock %}
      </div>
      {% block body %}{% endblock %}
    </body>
</html>
