{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}
{% block javascripts %}
	function setCookie(){
		$(".cookieconsent").hide();
	}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		Sie finden uns in der Pizzastraße 1b in Gießen/Langgöns. Reservierungen und Bestellungen können Sie gern unter der Telefonnummer 01213/98732165 abschließen. Möchten Sie eine Party feiern? Unser Team berät Sie gern - sprechen Sie uns einfach an.
	</div>
</div>
{% endblock %}
