{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}
{% block javascripts %}
	function setCookie(){
		$(".cookieconsent").hide();
	}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class='impressum'><p>Angaben gemäß § 5 TMG</p><p>Max Mustermann <br>
		        Pizzastraße 1b<br>
		        01243 Gießen/Langgöns <br>
		    </p><p> <strong>Vertreten durch: </strong><br>
		        Max Mustermann<br>
		    </p><p><strong>Kontakt:</strong> <br>
		        Telefon: 01234-987321654<br>
		        E-Mail: <a href='mailto:me@pizza-plaza.com'>me@pizza-plaza.com</a></br></p><br>
		</div>
	</div>
</div>
{% endblock %}
