{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}

{% block body %}
    <div class="container">
        <p class="lead">Herzlich Willkommen auf der Webseite von Pizza Plaza!</p>
        <p>Wir sind ein fiktives Restaurant in Gießen/Langgöns. Auf unserer Webseite erfahren Sie nähere Informationen über uns, Wege, uns zu kontaktieren und Bestellungen online durchzuführen.</p>
        <p>Ihr Restaurant Pizza Plaza</p>
        <h3>Pizza des Tages</h3>
        <div class="row">
            <div class="col col-sm-3">
                <div class="row">
                    <b>Name: &nbsp</b> {{ offer.name }}
                </div>
                <div class="row">
                    <b>Price: &nbsp</b> <strike>{{ offer.price }}$</strike>&nbsp {{ offer.price * 0.77 }}$
                </div>
                <div class="row">
                    <b>Description: &nbsp</b>{{ offer.description }}
                </div>
    </div>
{% endblock %}
