{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col col-sm-2">
			<h4>Name</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Beschreibung</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Preis</h4>
		</div>
		<div class="col col-sm-2">
			<h4>Zusätzliche Zutaten</h4>
		</div>
		<div class="col col-sm-2">

		</div>
		<div class="col col-sm-2">
			
		</div>
	</div>
	{% for pizza in pizzas %}
	<div class="row">
		<div class="col col-sm-2">
			{{ pizza.name }}
		</div>
		<div class="col col-sm-2">
			{{ pizza.description }}
		</div>
		<div class="col col-sm-2">
			<div id="price{{pizza.id}}">
				{{ pizza.id == offer.id ? pizza.price * 0.77 : pizza.price }}$
			</div>
			<input type="hidden" id="valuePrice{{pizza.id}}" value={{ pizza.id == offer.id ? pizza.price * 0.77 : pizza.price }}>
			<input type="hidden" id="pizzaExtras{{pizza.id}}" value="">
		</div>
		<div class="col col-sm-2">
			{% for extra in pizza.extras %}
				<div class="row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="extra{{extra.id}}" name="extra{{extra.id}}" onclick="addExtra(this,{{pizza.id}},{{extra.price}})">
						<label class="form-check-label" for="extra{{extra.id}}">{{ extra.name }}&nbsp{{ extra.price }}$</label>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col col-sm-2">
			<button class="btn" onclick="addBasket({{pizza.id}}, '{{pizza.name}}')">Bestellen</button>
		</div>
	</div>
	<div class="row">
	&nbsp
	</div>
	{% endfor %}
</div>
<script>

</script>
{% endblock %}
