{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
<script>let totalCheckoutPrice </script>
    <div class="container">
        {% for customer in customers %}
            <div class="row">              
                <div class="col col-14">
                    {% for order in customer.orders %}
                        <script>totalCheckoutPrice = 0</script>
                        <div class="row">
                            <div class="col col-3">
                                Bestellnummer: {{ order.id }}
                            </div>
                            <div class="col col-2" id="order{{ order.id }}">
                                
                            </div>
                            <div class="col col-12">
                                {% for orderItem in order.orderItems %}
                                    <div class="row">
                                        <div class="col col-3">
                                            Pizzaname: {{ orderItem.pizzaname }}
                                        </div>
                                        <script>totalCheckoutPrice += parseFloat({{ orderItem.pizzaid == offer.id ? orderItem.pizzaprice * 0.77 : orderItem.pizzaprice }})</script>
                                        <div class="col col-2">
                                            Nummer: {{ orderItem.quantity }}
                                        </div>
                                        <div class="col col-2">
                                            zusätzliche Zutaten:
                                            {% for extra in orderItem.extras %}
                                                <div class="row">
                                                    <div class="col col-2">
                                                       {{ extra.name }}
                                                    </div>
                                                </div>
                                                <script>totalCheckoutPrice += parseFloat({{ extra.price }})</script>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col col-2">
                                Kunde: {{ customer.firstname }}&nbsp{{ customer.lastname }}
                            </div>
                            <div class="col col-6">
                                Adresse: die Stadt {{ customer.city }},&nbsp Straße {{ customer.street }},&nbsp Hausnummer {{ customer.streetnumber }}
                            </div>
                            <script>document.getElementById("order"+{{ order.id }}).innerHTML = `Preis: ${totalCheckoutPrice}$`</script>
                        </div>
                        <form action="{{ path('deleteOrder') }}" method="post">
                            <input type="hidden" name="delete" value="{{ customer.id }}">
                            <input type="submit" class="btn btn-warning" value ="Annehmen">
                        </form>
                    {% endfor %}
                    
                </div>
                
            </div>
            <div class="row">
            -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </div>
        {% endfor %}
    </div>
{% endblock %}