{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza-Plaza!{% endblock %}
	
{% block body %}
<div class="container">
    <h2>
        {{message}}
    </h2>
</div>
<script>
    localStorage.clear();
    setTimeout( 'location="{{ path('index') }}";', 3000 );
</script>
{% endblock %}